{% extends "base.html" %}




{% block content %}

 <div class="flex justify-center mt-12">
  <div class="w-full max-w-md bg-[#E2DACF] border border-[#CFC6B8] rounded-2xl shadow-lg p-8">

    <h1 class="text-3xl font-semibold text-center mb-8">
      Editar producto
    </h1>

    <form action="{{ url_for('productos.editar', id=producto.pid) }}" method="post" class="flex flex-col gap-6">

      <!-- Nombre -->
      <div class="flex flex-col gap-2">
        <label class="text-lg font-medium">
          Nombre del producto
        </label>
        <input
          type="text"
          name="nombre"
          value="{{ producto.nombre }}"
          required
          class="px-4 py-3 rounded-lg border border-[#CFC6B8]
                 text-lg focus:outline-none focus:ring-2
                 focus:ring-[#C9A24D]"
        >
      </div>

      <!-- Departamento -->
      <div class="flex flex-col gap-2">
        <label class="text-lg font-medium">Departamento</label>
        <select
          name="departamento"
          value="{{ producto.departamento }}"
          required
          class="px-4 py-3 rounded-lg border border-[#CFC6B8]
                 text-lg bg-white
                 focus:outline-none focus:ring-2
                 focus:ring-[#C9A24D]">

          <option value="">Seleccionar…</option>
          {% for depto in departamentos %}
            <option value="{{ depto }}"
              {% if producto.departamento == depto %}selected{% endif %}>
              {{ depto | capitalize }}
            </option>
          {% endfor %}

        </select>
      </div>

     

      <!-- Precio -->
      <div class="flex flex-col gap-2">
        <label class="text-lg font-medium">
          Precio
        </label>
        <input
          type="number"
          name="precio"
          value="{{ producto.precio }}"
          step="0.01"
          required
          class="px-4 py-3 rounded-lg border border-[#CFC6B8]
                 text-lg focus:outline-none focus:ring-2
                 focus:ring-[#C9A24D]"
        >
      </div>

      <!-- Stock -->
      <div class="flex flex-col gap-2">
        <label class="text-lg font-medium">
          Stock
        </label>
        <input
          type="number"
          name="stock"
          value = "{{ producto.stock }}"
          class="px-4 py-3 rounded-lg border border-[#CFC6B8]
                 text-lg focus:outline-none focus:ring-2
                 focus:ring-[#C9A24D]"
        >
      </div>


      <!-- Botón -->
      <input
        type="submit"
        value="Editar producto"
        class="mt-4 bg-[#C9A24D] hover:bg-[#A8862D]
               text-white text-xl font-semibold
               py-4 rounded-xl
               cursor-pointer
               transition shadow-md"
      >

{% endblock %}