{% extends "base.html" %}

{% block content %}

    <div class="flex flex-col items-center justify-center min-h-[75vh] gap-10">

  <!-- Logo -->
  <img
    src="{{ url_for('static', filename='uploads/productos/logo.jpeg') }}"
    alt="JS Distribuciones"
    class="h-32"
  >

  <!-- Botones -->
  <div class="flex flex-col gap-6 w-full max-w-sm">

  <a href="/productos"
     class="block text-center bg-[#E2DACF]
            border border-[#CFC6B8]
            text-[#1F1F1F]
            text-2xl font-semibold
            py-6 rounded-xl
            shadow-md
            hover:bg-[#C9A24D]
            hover:text-white
            hover:scale-[1.02]
            transition">
    Productos
  </a>

  <a href="/clientes"
     class="block text-center bg-[#E2DACF]
            border border-[#CFC6B8]
            text-[#1F1F1F]
            text-2xl font-semibold
            py-6 rounded-xl
            shadow-md
            hover:bg-[#C9A24D]
            hover:text-white
            hover:scale-[1.02]
            transition">
    Clientes
  </a>

  <a href="#"
     class="block text-center bg-[#E2DACF]
            border border-[#CFC6B8]
            text-[#1F1F1F]
            text-2xl font-semibold
            py-6 rounded-xl
            shadow-md
            hover:bg-[#C9A24D]
            hover:text-white
            hover:scale-[1.02]
            transition">
    Remitos
  </a>

</div>

</div>

{% endblock %}